* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: darkred;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: white;
  color: black;
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */



/* FOOTER STYLES START */
footer {
  background: darkred;
  padding: 40px 35px;
  display: block;
  color: white;
  text-align: center;
}

footer h2 {
  font-size: 30px;
  margin: 0;
  
}

footer div {
  line-height: 1.5;
}
/* END FOOTER STYLES */
